body{
	background-image: url(bg.png), url(gr.png);
	background-repeat: no-repeat, no-repeat;
	background-position: top, bottom;
    background-size: 215vh 40vw;
	
	
}


.navbar .store{
	font-style:oblique;
	color: rgb(1, 15, 59);
	font-size: 20px;
}

.navbar .search .image{
	width: 500px;
	height: 30px;
	margin-top: -2px;
	position: absolute;
}


.navbar .search .submit:hover{
	color: #581a0b;
    transition: background-color 0.2s;
}


.navbar .login{
	color: black;
	background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.navbar .logout{
	color: black;
	background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.slogan{
	color: darkgray;
	font-size: 80px;
}

h1,h2,h3,h4,h5,h6{
	color:hsl(0, 0%, 30%);
}

.box-element{
	box-shadow:hsl(0, 0%, 80%) 0 0 16px;
	background-color: #02010af8;
	border-radius: 4px;
	padding: 10px;
}

.thumbnail{
	background-image: url(logos.png);
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 200px;
	-webkit-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    -moz-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
}

.product{
	border-radius: 0 0 4px 4px;
}

.bg-dark{
	background-color: #fff8f8!important;
	opacity: 0.3;
	border-style: none;
	
}

#cart-icon{
	width:25px;
	display: inline-block;
	margin-left: 15px;
}

#cart-total{
	display: block;
	text-align: center;
	color:#fff;
	background-color: red;
	width: 20px;
	height: 25px;
	border-radius: 50%;
	font-size: 14px;
}

.col-lg-4, .col-lg-6, .col-lg-8, .col-lg-12{
	margin-top: 10px;
}

.btn{
	border-radius: 0;
}

.row-image{
	width: 100px;
}

.form-field{
	width:250px;
	display: inline-block;
	padding: 5px;
}

.cart-row{
	display: flex;
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;

}

.quantity{
	display: inline-block;
	font-weight: 700;
	padding-right:10px;
	

}

.chg-quantity{
	width: 12px;
	cursor: pointer;
	display: block;
	margin-top: 5px;
	transition:.1s;
}

.chg-quantity:hover{
	opacity: .6;
}


.hidden{
	display: none!important;
}