{% load static %}
<html>

<head>
  <title>Construction Manpower Productivity</title>
  <link rel="stylesheet" href="{% static 'css/edits.css' %}">
  <link rel="stylesheet" href="{% static 'css/modal.css' %}">
  <script  src="{% static 'js/filter.js' %}" defer></script>
  <script  src="{% static 'js/viewbtn.js' %}" defer></script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  
</head>

<body>


  <div id="link">
    <a href="{% url 'insertpage' %}">Create New</a>
  </div></br>
  </br>
  <h2><center id="title"> Construction Manpower Productivity Rate </center></h2>
  </br></br>

<a href="{% url 'list' %}">View All</a>
<div id = "tasksList">

  <table id = "myTable" class = "table">
    <thead>
      <tr>
        <th>Area Name
          <form class="search" id="search" method="POST" action="{% url 'filterArea' %}" >
            {% csrf_token %}
            <input class="name" type="text" name="areaName" placeholder="search here">
            <input class="submit" id="update-user" type="submit" hidden value="search">
          </form>
        </th>
        <th>Work
          <form class="search" id="search" method="POST" action="{% url 'filterWorks' %}" >
            {% csrf_token %}
            <input class="name" type="text" name="work" placeholder="search here">
            <input class="submit" id="update-user" type="submit" hidden value="search">
          </form>
        </th>
        <th>Area(sqm)</th>
        <th>Manpower</th>
        <th>Quantity</th>
        <th>Start Date</th>
        <th>Finish Date</th>
        <th>Duration</th>
        <th>Rate(MH/sqm)</th>
      </tr>
    </thead>
    <tbody>
      {% for data in data %}
      <tr>
        <td>{{ data.areaName}}</td>
        <td>{{ data.work}}</td>
        <td>{{ data.areaSqm}}</td>
        <td><center>{{ data.manpower}}</center></td>
        <td><center>{{ data.quantity}}</center></td>
        <td>{{ data.startdate|date:"d/m/Y"}}</td>
        <td>{{ data.finishdate|date:'d/m/Y'}}</td>
        <td><center>{{ data.duration}} days</center></td>
        <td><center>{{ data.rateHourPerSqm}}</center></td>
        <td><a href="{% url 'update' pk=data.pk %}">Edit</a></td>
      <td>
        <button onclick="document.getElementById('id01{{data.id}}').style.display='block'">Delete</button>
        <div id="id01{{data.id}}" class="modal">
          <span onclick="document.getElementById('id01{{data.id}}').style.display='none'" class="close" title="Close Modal">&times;</span>
          <form method="POST" action="{% url 'delete' pk=data.pk %}">
            {% csrf_token %}
            <div class="container">
              <h1>Delete Task</h1>
              <p>Are you sure you want to delete {{data.task}} ?</p>
              <input type="text" hidden value="{{data.id}}" name="id">
              <div class="clearfix">
                <button type="button" onclick="document.getElementById('id01{{data.id}}').style.display='none'" class="cancelbtn">Cancel</button>
                <button type="submit" class="deletebtn">Delete</button>
              </div>
            </div>
          </form>
        </div>
      </td>
      </tr>
      {% endfor %}
</div>
    </tbody>
  </table>
</div>
 </div> 

<script>


function isNumber(evt) {
  evt = (evt) ? evt : window.event;
  var charCode = (evt.which) ? evt.which : evt.keyCode;
  if (charCode > 31 && (charCode < 48 || charCode > 57)) {
    return false;
  }
  return true;
}


var modal = document.getElementById('id01');


window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}



</script>

</body>
</html>